* {
    margin: 0;
    padding: 0;
}

img {

    width: 100%;
}

body {
    /* display: grid; */
    background-color: #ddd;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    margin: 50px;
}

/* container */
.container {
    display: grid;
    gap: 10px;
}

/* header */
.header {
    display: grid;
    grid-template-areas:
        'hero hero features-1'
        'hero hero features-2'
    ;
}

.hero {
    margin-top: 5px;
    grid-area: hero;
    min-height: 300px;
    background-image: url(img/Tshirt-1.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;

}

/* cari hero dan cari apapuun yang didalamnya  */
.hero>* {
    display: none;
}

.features {
    margin-top: 5px;
    background-color: #000;
    color: white;
    display: grid;
    /* justify-content: center;
    align-content: center; */
    place-content: center;
    text-align: center;
    cursor: pointer;
}

.features-1 {
    grid-area: features-1;
    background-image: url(img/T-shirt-5.jpg);
    background-size: contain;
}

.features-2 {
    grid-area: features-2;
    background-image: url(img/Tshirt-3.jpg);
    background-size: contain;
}

.features .price {
    font-size: 2em;
    font-weight: 200;
}

/* navigasi */
.menu {
    /* position: fixed;
    background-color: #ddd; */
    order: -1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;

}

.menu .brand {
    font-size: 1.2em;
    color: rgb(0, 0, 0);
}

.menu ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
    padding: 5px;
}

.menu a {
    display: block;
    background-color: #000;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-size: 0.7em;
}

/* hamburger menu */
.menu-toggle {
    opacity: 40%;
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    z-index: 9999;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}


.menu-toggle span {
    display: block;
    width: 29px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    transition: all 0.5s;
}

/* hamburger menu animation */
.menu-toggle span:nth-child(2) {
    /* background-color: red; */
    transform-origin: 0 0;

}

.menu-toggle span:nth-child(4) {
    /* background-color: red; */
    transform-origin: 0 100%;

}

.menu-toggle input:checked~span:nth-child(2) {
    background-color: black;
    transform: rotate(45deg) translate(-1px, -1px);
}


.menu-toggle input:checked~span:nth-child(4) {
    background-color: black;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

/* services */
.services {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;

}

.service .icon {
    font-size: 1.5em;
}

.service p {
    font-weight: 100px;
    letter-spacing: 1px;
    font-size: 0.8em;

}

.service {
    cursor: pointer;
    background-color: white;
    padding: 16px;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
}

/* about */
.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 50px;
    gap: 10px;
}


.services h2 {
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
    margin-bottom: 20px;
}

/* gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 50px;
    gap: 10px;
}


.gallery h2 {
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
    margin-bottom: 20px;
}

/* socmed icon */

.socmed {
    padding: 40px;
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    /* background: linear-gradient(315deg, #ecf0f1 0%, #d7e1ec 74%); */
}

.wrapper {
    display: inline-flex;
}

.wrapper .icon {
    margin: 0px 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.155);
}

.wrapper .icon span {
    display: block;
    height: 60px;
    width: 60px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.155);
}

.wrapper .icon span i {
    line-height: 60px;
    font-size: 25px;
}

.wrapper .icon .tooltip {
    position: absolute;
    top: 0;
    z-index: 1;
    background: #fff;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 18px;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -70px;
    opacity: 1;
    pointer-events: auto;
}

.icon .tooltip:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15ox;
    background: #fff;
    left: 50%;
    bottom: -6;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover span {
    color: #fff;
}

.wrapper .icon:hover span, .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}



/* responsive brake Point  */

@media (max-width: 1024px) {
    .menu {
        order: inherit;
        grid-template-columns: 1fr;
    }

    .menu .brand {
        display: none;
    }

    .hero>* {
        display: block;
        background-color: black;
        color: white;
        padding: 3px;
        margin-bottom: 5px;
    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: end;
    }
}



@media (max-width: 768px) {
    .menu {
        order: -1;
        justify-items: end;
    }

    .menu-toggle {
        display: flex;
        position: fixed;
    }

    .menu ul {

        display: flex;
        position: fixed;
        right: 0;
        height: 30%;
        top: 0;
        background-color: #ddd;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        z-index: 1;
        transform: translateY(-100%);
        opacity: 0;
        transition: all 1s;
    }

    .menu ul.slide {
        opacity: 1;
        transform: translateY(0);
    }
}


@media(max-width: 600px) {
    body {
        margin: 15px;
    }

    .header {
        grid-template-areas:
            'hero'
            'features-1'
            'features-2';
    }
}